/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 81, 0, 0.5) !important;
  border-radius: 8px;
  /*                                                                       // opacity not work why                 */
  opacity: 40 !important;
}
.carousel-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  margin: auto;
  position: relative;
}
/* styles.css or your CSS file */
.custom-rounded .ant-select-selector {
  border-radius: 999px !important;
  width: 100% !important;
  /* border: none !important; */
}
.custom-rounded {
  border-radius: 999px !important;
  width: 100% !important;
  overflow: hidden;
  /* border: 1px solid orange !important; */
}
/* .custom-rounded .ant-select-selector :hover {
  border: 1px solid greenyellow !important;
} */

.carousel {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 100px;
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: transform 0.5s ease-in-out;
}
.clip-path-custom {
  clip-path: path("M0,0 Q50,50 0,100 L0,100 L0,0 Z");
}
.custom-top::after {
  content: "";
  position: absolute;
  top: -39px;
  right: 0px;
  width: 50px;
  height: 40px;
  z-index: 100;
  background-color: transparent; /* Initially transparent */
  border-radius: 50%;
  /* Smooth transition */
}

.custom-top2::before {
  content: "";
  position: absolute;
  top: 0px;
  /* left: -10px; */
  width: 0px;
  border-radius: 0px;
  background-color: transparent;
  transition: all 1s ease-in-out;
  height: 60px;
  /* Initially transparent */
  /* Smooth transition */
}

.custom-top:hover::after {
  overflow: hidden;
  z-index: 200;
  /* Change to green on hover */
}

.custom-top2:hover::before {
  z-index: -200;
  left: 0px;
  top: -10px;
  width: 20px;
  background-color: rgb(10, 126, 208); /* Change to blue on hover */
}

.active {
  transform: scale(1.5);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(50, 209, 6) !important;
  border-radius: 8px;
  opacity: 0.4;
}
/* Make the default Ant Clear Button red */
.ant-picker-clear {
  color: rgb(253, 93, 93) !important; /* Change icon color */
  background-color: white !important; /* Optional: Change background */
}

/* ======================== ANT TOOLTIP ======================== */
/* .ant-tooltip-arrow::before {
  background-color: rgba(100, 155, 255, 0.5) !important;
  border-color: rgba(100, 155, 255, 0.5) !important;
  z-index: 100 !important;
} */

/* ======================== REACT DATEPICKER ======================== */
.react-datepicker__close-icon {
  border: none !important;
  outline: none !important;
  background-color: rgb(0, 255, 174) !important;
  box-shadow: none !important;
  background: transparent !important;
  width: 50px !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: xx-large !important;
}

.react-datepicker__close-icon::after {
  font-weight: 900 !important;
  font-family: Courier !important;
  display: flex !important;
  align-items: center !important;
  content: "X" !important;
  color: rgba(255, 0, 0, 0.43) !important;
  font-size: 16px !important;
  background: transparent !important;
}

/* ======================== ANT INPUT ======================== */
.ant-input-clear-icon {
  background-color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
  color: rgba(255, 7, 7, 0.615) !important;
}

.ant-select .ant-select-clear {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(255, 0, 0, 0) !important;
  font-size: 1rem !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  display: flex !important;
  margin-bottom: 10px !important;
  align-items: center !important;
  justify-content: center;
  border: none !important;
}

.ant-select-selection-wrap {
  width: 100% !important;
}

/* ======================== ANT INPUT WRAPPER - PASSWORD ======================== */
.ant-input-affix-wrapper:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgb(8, 241, 74) !important;
  border: 1px solid;
}

.ant-input-affix-wrapper {
  outline: none !important;
  box-shadow: none !important;
  border-color: orange !important;
}

.ant-input:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgb(8, 241, 74) !important;
}

.ant-input {
  border-color: orange !important;
}

/* ======================== ANT BUTTON ======================== */
.ant-btn {
  background-color: aqua !important;
  border-color: transparent !important;
}

.ant-btn:focus,
.ant-btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

/* ======================== ANT SELECT ========================   0 px border for select when using diff border-radius */
.custom-select .ant-select-selector {
  border: 1px solid orange !important;
  border-radius: 6px;
  transition: border-color 0.2s ease-in-out;
}

.custom-select .ant-select-selector:hover {
  border-color: rgb(31, 248, 11) !important;
}

/* .custom-select .ant-select-selector:focus,
.custom-select .ant-select-selector:active,
.custom-select.ant-select-focused .ant-select-selector {
  border-color: rgb(17, 255, 17) !important;
  box-shadow: none !important;
  outline: none !important;
} */

/* ======================== ANT FORM ITEM INPUT ======================== */
.omg .ant-form-item-control-input {
  border: 2px solid orange !important;
  border-radius: 12px;
  transition: border-color 0.2s ease-in-out;
  outline: none !important;
}

.omg:hover .ant-form-item-control-input:hover {
  box-shadow: 0px 0px 10px #4ade80;
  border-color: rgb(23, 240, 88) !important;
}

.omg:hover .ant-form-item-control-input:focus {
  box-shadow: 0px 0px 10px #4ade80;
  border-color: rgb(245, 112, 11) !important;
}

.custom-password .ant-form-item-control-input-content:focus-within,
.custom-password .ant-form-item-control-input-content:focus,
.custom-password .ant-form-item-control-input-content:active {
  outline: none !important;
  border-color: rgb(9, 244, 9) !important;
  box-shadow: none !important;
}

/* ======================== ANT DATEPICKER ======================== */
.custom-datepicker {
  border-radius: 0.375rem;
  border: 1px solid #f97316;
  outline: none !important;
  box-shadow: none !important;
  color: black !important;
}

.custom-datepicker:hover {
  border-color: #7eeca6 !important;
}

.custom-datepicker:focus,
.custom-datepicker:focus-within {
  border-color: #e7a10a;
}

.custom-datepicker:active {
  border-color: #22c55e;
}

/* ======================== ANT DATEPICKER HEADER ======================== */
.ant-picker-header-view button {
  border-radius: 6px;
  background-color: rgb(55, 192, 247) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #ffffff00 !important;
  transition: all 0.2s ease-in-out;
  color: white !important;
  max-height: 1.5rem !important;
  padding-inline: 5px !important;
}

.ant-picker-header-view button:hover {
  background-color: #0a50db !important;
}

.ant-picker-header-view button:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.8) !important;
}

/* ======================== ANT RADIO ======================== */
.custom-radio .ant-radio-inner {
  border-color: green !important;
}

.custom-radio .ant-radio-checked .ant-radio-inner {
  background-color: rgb(16, 232, 59) !important;
  border-color: rgb(5, 253, 9) !important;
}

.custom-radio .ant-radio:hover .ant-radio-inner {
  border-color: #16a34a !important;
}

/* /////////////////////////////////////////////////////////////////// */

/* Unchecked state: border (accent) in green */
.ant-checkbox-inner {
  border-color: rgb(246, 87, 38) !important;
}

/* Checked state: green background & border */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(108, 240, 41) !important;
}

/* The tick mark is rendered using the ::after pseudo-element.
   Here we set its color (border) to blue. */
.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: rgba(97, 248, 74, 0.922) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* Custom Clear Button */
/* Hide default clear (X) button */

/* .ant-picker-clear {
  display: none !important;
}

.custom-clear-icon {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  border-radius: 50%;
  display: none; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.custom-datepicker:hover + .custom-clear-icon {
  display: flex;
  pointer-events: all; } */
.text-mask {
  background: linear-gradient(to right, green, red);
  -webkit-mask-image: linear-gradient(to right, black, black);
  -webkit-mask-clip: text;
  -webkit-mask-composite: destination-in;
  color: transparent;
}
