/* From Uiverse.io by Smit-Prajapati */
.card {
  width: 300px;
  height: 250px;
  background: #243137;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/*  */

.border {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #bd9f67 !important;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content {
  position: absolute;
  top: 10%;
  right: 40%;
  transition: all 0.5s ease-in-out;
  margin-bottom: 4rem;
}
.card:hover .content {
  position: absolute;
  top: 20%;
  right: 30%;
  transition: all 0.5s ease-in-out;
}

.content .logo {
  height: 50px;
  position: relative;
  width: 50px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

/*  */

.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card:hover .logo {
  width: 134px;
  animation: opacity 1s ease-in-out;
}

.card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

.card:hover .trail {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid #bd9f67;
  }

  80% {
    border-right: 1px solid #bd9f67;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail {
  0% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 159, 103) 100%
    );
    opacity: 0;
  }

  30% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(189, 159, 103) 100%
    );
    opacity: 1;
  }

  70% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(189, 159, 103) 100%
    );
    opacity: 1;
  }

  95% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 159, 103) 100%
    );
    opacity: 0;
  }
}
.textdoubled {
  font-family: Arial, sans-serif;
  font-weight: 900;

  color: transparent; /* Gold-colored text */
  -webkit-text-stroke: 1px #eaed15;
  font-size: 24px;
  text-shadow: 2px 2px 0 #243137, -2px -2px 0 #243137, 2px -2px 0 #243137,
    -2px 2px 0 #243137; /* Adds extra thickness for a double stroke effect */
}
